---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ '/' | relative_url }}">
                        <img src="{{ '/' | append: site.logo | relative_url }}" alt="{{ site.title }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ '/' | relative_url }}">
                            <p class="home-title">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <!-- <a href="{{ site.url }}"> -->
                            <p class="home-bio">{{ site.bio }}</p>
			            <!-- </a> -->
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ '/about/' | relative_url }}">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ '/articles/' | relative_url }}">
                         Writing
                         </a>
                         <a class="btn zoombtn" href="{{ '/media/' | relative_url }}">
                         Talks &amp; Media
                         </a>
                         <a class="btn zoombtn" href="{{ '/projects/' | relative_url }}">
                         Projects
                         </a>
                         <a class="btn zoombtn" href="{{ '/contact/' | relative_url }}">
                         Contact
                         </a>
                 </h3>
            </div> <!-- testando -->
            <!-- <div class="row">
                <iframe src="https://brenorb.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
            </div> -->
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
